{% extends "builder/base_site.html" %}
{% load i18n admin_static bootstrap %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'build_list' %}">{% trans 'Build list' %}</a> <span class="divider">/</span></li>
<li>{% trans 'New build' %}</li>
</ul>
{% endblock %}

{% block content %}
<form action="." method="POST" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Config" %}</legend>
        {{ form|bootstrap }}
    </fieldset>
    <fieldset id="componentContainer" style="display: none;">
        <legend>{% trans "Components" %}</legend>
    </fieldset>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Create" class="btn btn-primary" />
            <input type="reset" value="Default" class="btn disabled" />
        </div>
    </div>
</form>
{% endblock %}

{% block js_footer %}
<script type="text/javascript" charset="utf-8">
    var $containerComponent = $('#componentContainer'),
        $titleComponent = $containerComponent.find('legend');

    $('#id_product').change(function(e) {
        if ($(this).val() == '')
            return false;
        
        var query = {
            'product__pk': $(this).val(),
        };
        var queryJSON = JSON.stringify(query);
        
        $.ajax({
            'url': '{% url "builder_api_get_baselines" %}',
            'method': 'GET',
            'dataType': 'json',
            'data': {
                'q': queryJSON,
            },
            'success': function(returnObj) {
                var $selector = $('#id_baseline');
                // Clean old data
                $selector.html($('<option value="">---------</option>'));
                $containerComponent.html('');
                $containerComponent.append($titleComponent);
                $containerComponent.hide();

                // Append new data
                for (var i=0; i<returnObj.length; i++) {
                    $('<option>')
                        .attr({
                            'value': returnObj[i]['pk']
                        })
                        .text(returnObj[i]['fields']['name'])
                        .appendTo($selector);
                }
            }
        });
    });
    
    $('#id_baseline').change(function(e) {
        $.ajax({
            'url': '{% url "builder_api_get_components_form" %}',
            'method': 'GET',
            'dataType': 'html',
            'data': {
                'baseline_pk': $('#id_baseline').val(),
                'product_pk': $(this).val()
            },
            'success': function(html) {
                $containerComponent.html(html);
                $containerComponent.prepend($titleComponent);
                $containerComponent.show();
            },
            'failure': function(msg) {
                alert(msg);
            }
        });
    });
</script>
{% endblock %}
