{% extends "builder/base_site.html" %}
{% load i18n admin_static bootstrap %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'build_list' %}">{% trans 'Build list' %}</a> <span class="divider">/</span></li>
<li>{% trans 'New build' %}</li>
</ul>
{% endblock %}

{% block content %}
<form id="createBuildForm" action="." method="POST" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Config" %}</legend>
        {{ form|bootstrap }}
    </fieldset>
    <fieldset id="componentContainer" style="display: none;">
        <legend>{% trans "Components" %}</legend>
    </fieldset>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="{% trans "Next" %}" class="btn btn-primary" />
            <input id="btnReset" type="button" value="{% trans "Default" %}" class="btn" disabled />
            <input id="btnPopupDownloadComponentList" type="button" value="{% trans "Download component list" %}" class="btn" disabled />
        </div>
    </div>
</form>

<div id="modalDownloadComponentList" class="modal hide fade">
  <div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
    <h3>{% trans "Download component list" %}</h3>
  </div>
  <div class="modal-body">
    <p>{% trans "Please click following link with right button and select 'Save link as...'." %}</p>
    <p><a id="btnDownloadComponent" href="javascript:void(0)" target="_blank" class="btn btn-primary">{% trans "Download component list" %}</a></p>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn">{% trans "Close" %}</a>
  </div>
</div>
{% endblock %}

{% block js_footer %}
<script type="text/javascript" charset="utf-8">
    var $selectorBaseline = $('#id_baseline'),
        $containerComponent = $('#componentContainer'),
        $titleComponent = $containerComponent.find('legend'),
        $emptyLabelOption = $('<option value=""></option>').text('{% trans "NULL" %}');

    $('#id_product').change(function(e) {
        if ($(this).val() == '') {
            $selectorBaseline.html();
            $containerComponent.html($emptyLabelOption);
            $('#btnReset, #btnPopupDownloadComponentList').prop('disabled', true);
            return false;
        }
        
        var query = {
            'product__pk': $(this).val(),
        };
        var queryJSON = JSON.stringify(query);
        
        $.ajax({
            'url': '{% url "builder_api_get_baselines" %}',
            'method': 'GET',
            'dataType': 'json',
            'data': {
                'q': queryJSON,
            },
            'success': function(returnObj) {
                // Clean old data
                $selectorBaseline.html($emptyLabelOption);
                $containerComponent.html('');

                // Append new data
                for (var i=0; i<returnObj.length; i++) {
                    $('<option>')
                        .attr({
                            'value': returnObj[i]['pk']
                        })
                        .text(returnObj[i]['fields']['name'])
                        .appendTo($selectorBaseline);
                }
            }
        });
    });
    
    $selectorBaseline.change(function(e) {
        var $self = $(this);
        if ($self.val() == '') {
            $('#btnReset, #btnPopupDownloadComponentList').prop('disabled', true);
            $containerComponent.html('');
            return false
        }
        $('#btnReset, #btnPopupDownloadComponentList').prop('disabled', false);
        $.ajax({
            'url': '{% url "builder_api_get_components_form" %}',
            'method': 'GET',
            'dataType': 'html',
            'data': {
                'baseline_pk': $('#id_baseline').val(),
                'product_pk': $self.val()
            },
            'success': function(html) {
                $containerComponent.html(html);
                $containerComponent.prepend($titleComponent);
                $containerComponent.show();
                
                // Determine download component button status
            },
            'failure': function(msg) {
                alert(msg);
            }
        });
    });
    
    $("#btnReset").click(function(e) {
        $('#componentContainer').find('select').each(function() {
            var $self = $(this),
                $options = $self.find('option');
            if ($options.length < 2) {
                return false;
            }
            $options.removeAttr('selected');
            $($options[1]).attr('selected', 'selected');
        })
    });
    
    $('#btnPopupDownloadComponentList').click(function(e) {
        $('#modalDownloadComponentList').modal('show');
        $('#btnDownloadComponent').attr('href', '{% url "build_download_config_file" %}?' + $('#createBuildForm').serialize());
    });
    
    $('#btnDownloadComponent').click(function(e) {
        window.open(
            '{% url "build_download_config_file" %}?' + $('#createBuildForm').serialize()
        )
    });
</script>
{% endblock %}
