{% extends "builder/base_site.html" %}
{% load i18n admin_static %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'build_list' %}">{% trans 'Build list' %}</a> <span class="divider">/</span></li>
<li>{{ build.name }}</li>
</ul>
{% endblock %}

{% block content %}
<h2><small>Create by</small> {{ build.author }}</h2>
<div id="buildDetailContainer" class="container-fluid">
    {% include "builder/build_detail_content.html" %}
</div>
{% endblock %}

{% block js_footer %}
<script type="text/javascript" charset="utf-8">
var container = $('#buildDetailContainer');

var triggerProcess = function(e) {
    var $target = $(e.target);
    if (!$target.attr('data-action')) {
        window.location.href = $target.attr('href');
        return false;
    }
    var action = $target.attr('data-action'),
        pk = $target.attr('data-pk');
    $.ajax({
        'url': '{% url "builder_trigger_process" %}',
        'data': {
            'pk': pk,
            'a': action
        }
    });
}

var updateProcess = function() {
    $.get('{% url "build_detail_content" build.slug %}', {}, function(html) {
        container.html(html);
        container.find('.btn').click(triggerProcess);
    });
}
setInterval(updateProcess, 1000);
</script>
{% endblock %}
