{% load i18n %}<fieldset>
    <legend>{% trans "Config" %}</legend>
    <div class="row-fluid">
        <div class="span3">{% trans "SOIC" %}</div>
        <div class="span9">{{ build.product }}</div>
    </div>
    <div class="row-fluid">
        <div class="span3">{% trans "PMIC" %}</div>
        <div class="span9">{{ build.pmic }}</div>
    </div>
    <div class="row-fluid">
        <div class="span3">{% trans "baseline" %}</div>
        <div class="span9">{{ build.baseline }}</div>
    </div>
</fieldset>
<fieldset>
    <legend>{% trans "Components" %}</legend>
    {% for component in build.component.all %}
    <div class="row-fluid">
        <div class="span3">{{ component.type }}</div>
        <div class="span9">{{ component}}</div>
    </div>
    {% empty %}
    <div class="row-fluid text-center">
        {% trans "No component selected" %}
    </div>
    {% endfor %}
</fieldset>
<fieldset>
    <legend>{% trans "Processes" %}</legend>
    {% for process in build.process_set.all %}
    <div class="row-fluid">
        <div class="span2">{{ process.type }}</div>
        <div class="span2">{{ process.status }}</div>
        <div class="span3">
            <div class="progress progress-striped active">
                <div class="bar" style="width: {{ process.progress }}%;"></div>
            </div>
        </div>
        {% if process.url %}
        <div class="span2"><a href="{{ process.url }}" target="_blank" class="btn">{% trans "Download" %}</a></div>
        {% else %}
        <div class="span2">{{ process.message|default:""|safe }}</div>
        {% endif %}
    </div>
    {% empty %}
    <div class="row-fluid text-center">
        {% trans "No url was found yet." %}
    </div>
    {% endfor %}
</fieldset>
