{% extends "builder/base_site.html" %}
{% load i18n admin_static bootstrap %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'build_list' %}">{% trans 'Build list' %}</a> <span class="divider">/</span></li>
<li>{% trans 'New build' %}</li>
</ul>
{% endblock %}

{% block content %}
<form id="createBuildForm" action="." method="POST" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Config" %}</legend>
        {{ form|bootstrap }}
    </fieldset>
    <fieldset id="componentContainer" style="display: none;">
        <legend>{% trans "Components" %}</legend>
    </fieldset>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="{% trans "Build" %}" class="btn btn-primary" />
            <input id="btnReset" type="reset" value="{% trans "Default" %}" class="btn" disabled />
            <input id="btnDownloadComponent" type="button" value="{% trans "Component download list" %}" class="btn" disabled />
        </div>
    </div>
</form>
{% endblock %}

{% block js_footer %}
<script type="text/javascript" charset="utf-8">
    var $selectorBaseline = $('#id_baseline'),
        $containerComponent = $('#componentContainer'),
        $titleComponent = $containerComponent.find('legend');

    $('#id_product').change(function(e) {
        if ($(this).val() == '') {
            $selectorBaseline.html($('<option value="">---------</option>'));
            $containerComponent.html('');
            $('#btnReset, #btnDownloadComponent').prop('disabled', true);
            return false;
        }
        
        var query = {
            'product__pk': $(this).val(),
        };
        var queryJSON = JSON.stringify(query);
        
        $.ajax({
            'url': '{% url "builder_api_get_baselines" %}',
            'method': 'GET',
            'dataType': 'json',
            'data': {
                'q': queryJSON,
            },
            'success': function(returnObj) {
                // Clean old data
                $selectorBaseline.html($('<option value="">---------</option>'));
                $containerComponent.html('');

                // Append new data
                for (var i=0; i<returnObj.length; i++) {
                    $('<option>')
                        .attr({
                            'value': returnObj[i]['pk']
                        })
                        .text(returnObj[i]['fields']['name'])
                        .appendTo($selectorBaseline);
                }
            }
        });
    });
    
    $selectorBaseline.change(function(e) {
        var $self = $(this);
        if ($self.val() == '') {
            $('#btnReset, #btnDownloadComponent').prop('disabled', true);
            $containerComponent.html('');
            return false
        }
        $('#btnReset, #btnDownloadComponent').prop('disabled', false);
        $.ajax({
            'url': '{% url "builder_api_get_components_form" %}',
            'method': 'GET',
            'dataType': 'html',
            'data': {
                'baseline_pk': $('#id_baseline').val(),
                'product_pk': $self.val()
            },
            'success': function(html) {
                $containerComponent.html(html);
                $containerComponent.prepend($titleComponent);
                $containerComponent.show();
                
                // Determine download component button status
            },
            'failure': function(msg) {
                alert(msg);
            }
        });
    });
    
    $('#btnDownloadComponent').click(function(e) {
        window.open(
            '{% url "build_download_config_file" %}?' + $('#createBuildForm').serialize()
        )
    });
</script>
{% endblock %}
