{% extends "builder/base_site.html" %}
{% load i18n admin_static %}

{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'build_list' %}">{% trans 'Build list' %}</a> <span class="divider">/</span></li>
<li>{{ build.name }}</li>
</ul>
{% endblock %}

{% block content %}
<div id="buildDetailContainer" class="container-fluid">
    {% include "builder/build_detail_content.html" %}
</div>
{% endblock %}

{% block js_footer %}
<script type="text/javascript" charset="utf-8">
var container = $('#buildDetailContainer');
var updateProcess = function() {
    $.get('{% url "build_detail_content" build.slug %}', {}, function(html) {
        container.html(html);
    });
}
setInterval(updateProcess, 1000);
</script>
{% endblock %}
